USE [master]
GO
/****** Object:  Database [PNR]    Script Date: 11/28/2010 14:06:41 ******/
CREATE DATABASE [PNR] ON  PRIMARY 
( NAME = N'PNR', FILENAME = N'D:\PNR.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PNR_log', FILENAME = N'D:\PNR_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PNR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PNR]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11/28/2010 14:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketType]    Script Date: 11/28/2010 14:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketType](
	[IDTicket] [int] NOT NULL,
	[TicketType] [nvarchar](50) NULL,
 CONSTRAINT [PK_TicketType] PRIMARY KEY CLUSTERED 
(
	[IDTicket] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V_detail]    Script Date: 11/28/2010 14:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[V_detail](
	[V_Ticket] [char](10) NOT NULL,
	[V_No] [nvarchar](20) NOT NULL,
	[In_Time] [datetime] NOT NULL,
	[Out_Time] [datetime] NOT NULL,
	[V_Image] [image] NULL,
	[Ticket_Type] [int] NULL,
	[Username] [nvarchar](50) NULL,
 CONSTRAINT [PK_V_Information] PRIMARY KEY CLUSTERED 
(
	[V_Ticket] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/28/2010 14:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[Full_Name] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Role] [int] NULL,
	[Sex] [char](10) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [char](10) NULL,
	[Birthday] [date] NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mothly_Ticket]    Script Date: 11/28/2010 14:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mothly_Ticket](
	[IDCard] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[V_No1] [nvarchar](20) NULL,
	[V_No2] [nvarchar](20) NULL,
	[Start_Date] [datetime] NULL,
	[Expire_Date] [datetime] NULL,
	[Picture] [image] NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mothly_Ticket] PRIMARY KEY CLUSTERED 
(
	[IDCard] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finance]    Script Date: 11/28/2010 14:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finance](
	[BillNo] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Revenue] [float] NULL,
	[V_Total] [int] NULL,
 CONSTRAINT [PK_finance] PRIMARY KEY CLUSTERED 
(
	[BillNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_V_detail_TicketType]    Script Date: 11/28/2010 14:06:45 ******/
ALTER TABLE [dbo].[V_detail]  WITH CHECK ADD  CONSTRAINT [FK_V_detail_TicketType] FOREIGN KEY([Ticket_Type])
REFERENCES [dbo].[TicketType] ([IDTicket])
GO
ALTER TABLE [dbo].[V_detail] CHECK CONSTRAINT [FK_V_detail_TicketType]
GO
/****** Object:  ForeignKey [FK_V_Information_Login]    Script Date: 11/28/2010 14:06:45 ******/
ALTER TABLE [dbo].[V_detail]  WITH CHECK ADD  CONSTRAINT [FK_V_Information_Login] FOREIGN KEY([Username])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[V_detail] CHECK CONSTRAINT [FK_V_Information_Login]
GO
/****** Object:  ForeignKey [FK_Staff_Login]    Script Date: 11/28/2010 14:06:45 ******/
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Login] FOREIGN KEY([Username])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Login]
GO
/****** Object:  ForeignKey [FK_Mothly_Ticket_Login]    Script Date: 11/28/2010 14:06:45 ******/
ALTER TABLE [dbo].[Mothly_Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Mothly_Ticket_Login] FOREIGN KEY([UserName])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[Mothly_Ticket] CHECK CONSTRAINT [FK_Mothly_Ticket_Login]
GO
/****** Object:  ForeignKey [FK_finance_Login]    Script Date: 11/28/2010 14:06:45 ******/
ALTER TABLE [dbo].[Finance]  WITH CHECK ADD  CONSTRAINT [FK_finance_Login] FOREIGN KEY([Username])
REFERENCES [dbo].[Login] ([Username])
GO
ALTER TABLE [dbo].[Finance] CHECK CONSTRAINT [FK_finance_Login]
GO
