USE [PNR]
GO
/****** Object:  StoredProcedure [dbo].[list_User]    Script Date: 12/01/2010 14:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[list_User] 
as
Select * from Staff